
html
    head
        title!= title
        script(type='text/javascript', src='/scripts/jquery.min.js')
        script(type='text/javascript').
            var globalData = {};
            $.fn.serializeObject = function ()
            {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function ()
                {
                    if (o[this.name] !== undefined)
                    {
                        if (!o[this.name].push)
                        {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    }
                    else
                    {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };

            function start ()
            {
                $('#startBtn').hide();
                submit();
            }

            function submit (json)
            {
                var nextData = {};
                nextData.goal = "#{goal}";
                if (json)
                    nextData.json = json;
                if (globalData)
                {
                    nextData.eye = jQuery.extend({}, globalData);
                    // prevent sending superfluous data
                    delete nextData.eye.output;
                    delete nextData.eye.proofs;
                }
                $.ajax({
                    type       :"POST",
                    url        :"/next",
                    data       :JSON.stringify(nextData),
                    contentType:"application/json; charset=utf-8",
                    dataType   :"json",
                    success    :function (data)
                    {
                        handleResponse(data);
                    }
                });
            }

            function handleResponse (data)
            {
                globalData = data;
                $('#text').val(data.output);

                $('#output').show();

                $('.proof').remove();

                if (data.proofs)
                {
                    var buttons = $('#buttons');
                    for (var i = 0; i < data.proofs.length; ++i)
                        buttons.append($('<button />', { 'class':'proof', text: 'Proof ' + (i+1), onClick: 'proof(' + i + ');'}));
                }

                if (data.status && data.status === 'DONE')
                {
                    $.ajax({
                        type       :"POST",
                        url        :"/clear",
                        data       :JSON.stringify(globalData),
                        contentType:"application/json; charset=utf-8",
                        success    :function ()
                        {
                            $('#form').hide();
                            $('#btn').hide();
                            $('#btnBack').hide();
                            alert('DONE');
                        }
                    });
                }
                else
                {
                    var workerURL = data['http:requestURI'];
                    workerURL = workerURL.replace('http://askTheWorker/', '');
                    $.get('/demo/' + workerURL, {'body': JSON.stringify(globalData['http:body']) }, function (html)
                    {
                        $('#form').html(html);
                        $('#btn').show();
                        $('#btnBack').show();
                    });
                }
            }

            function back ()
            {
                $.ajax({
                    type       :"POST",
                    url        :"/back",
                    data       :JSON.stringify(globalData),
                    contentType:"application/json; charset=utf-8",
                    success    :function ()
                    {
                        submit(null);
                    }
                });
            }

            function output ()
            {
                $('#text').val(globalData.output);
            }

            function proof (i)
            {
                $('#text').val(globalData.proofs[i]);
            }

body
        h1!= message
        div#form
        div
            button#btn(onClick="parse();", hidden="hidden").
                Submit
            button#btnBack(onClick="back();", hidden="hidden").
                Back
        div#buttons
            button#output(onClick="output();", hidden="hidden").
                Output
        div
            button#startBtn(onClick="start();").
                Configure machine
        div
            textarea#text(style='width:100%;height:500px;')
        h2
            a(href='/demo/documentation/documentation.pdf').
                Documentation
        h2
            a(href='/demo/documentation/dataflow.pdf').
                Dataflow
        h2
            a(href='/demo/documentation/status_201506.pdf').
                Status 06/2015
        h3
            a(href='/demo/n3').
                N3 files