
html
    head
        title="Semantic Search"
        script(type='text/javascript', src='/scripts/jquery.min.js')
        script(type='text/javascript').
            var entries = !{JSON.stringify(entries)};
            var fields = !{JSON.stringify(fields)};

            function changeEntry()
            {
                var id = $('#select').children(':selected').text();
                var entry = $.grep(entries, function(e){ return e.id === id; })[0];
                $('#entry').val(JSON.stringify(entry, null, 2));
            }

            function submit(useSynonyms)
            {
                $('#buttons').find('button').prop('disabled', true);
                var id = $('#select').children(':selected').text();
                var data = {id: id, fields: [], weights:[], synonyms: useSynonyms};
                for (var i = 0; i < fields.length; ++i)
                {
                    var field = fields[i];
                    if ($('#' + field).is(':checked'))
                    {
                        data.fields.push(field);
                        data.weights.push(parseFloat($('#' + field + '_weight').val()));
                    }
                }
                $.ajax({
                    type       : "POST",
                    url        : "/semantic-search",
                    data       : JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    success    : function (data)
                    {
                        $('#output').val(JSON.stringify(data, null, 2));
                        $('#buttons').find('button').prop('disabled', false);
                    }
                });
            }
body
    div
        table
            tr
                th Field
                th Weight
            each field in fields
                tr
                    td
                        if field === 'comment'
                            label
                                input(id='#{field}', type='checkbox')
                                | #{field}
                        else
                            label
                                input(id='#{field}', type='checkbox', checked)
                                | #{field}
                    td
                        input(id='#{field}_weight', type='text', size=5, value=1)
    div
        select#select(onchange="changeEntry();")
            option(value=0)
            each entry, i in entries
                option(value=entry.id) #{entry.id}
    div
        textarea#entry(cols=100, rows=11)
    div#buttons
        button(onClick="submit(true);").
            Submit (synonyms)
        button(onClick="submit(false);").
            Submit (standard)
    div
        textarea#output(cols=100, rows= 50)